.sidebar {
	// position: relative;
	display: flex;
	flex-direction: column;
	width: var(--sidebar-width);
	height: calc(100vh - var(--navbar-height));
	background: var(--inverted-bg-color);
	transition: width 0.3s;
}

.collapsed {
	width: var(--sidebar-collapsed-width);
}

.switchers {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
	margin-top: auto;
}
