.sidebar {
	height: calc(100vh - var(--navbar-height));
	width: var(--sidebar-width);
	background: var(--inverted-bg-color);
	transition: width 0.3s;
	//position: relative;
	display: flex;
	flex-direction: column;
}

.collapsed {
	width: var(--sidebar-collapsed-width);
}

.switchers {
	display: flex;
	justify-content: center;
	margin-top: auto;
	flex-wrap: wrap;
	gap: 10px;
}
