@import 'reset';
@import './variables/global';
@import './themes/light';
@import './themes/dark';

.app {
	min-height: 100vh;
}

body {
	color: var(--primary-color);
	font: var(--font-s);
	background: var(--bg-color);
}

.page {
	display: flex;
}

.page-content {
	flex-grow: 1;
	padding: 20px;
}
