.appButton {
	all: unset;
	padding: 6px 15px;
	color: var(--inverted-primary-color);
	text-align: center;
	cursor: pointer;
}

.clear,
.clear-inverted {
	padding: 0;
	background: none;
	border: none;
	outline: none;
}

.clear-inverted {
	color: var(--inverted-primary-color);
}

.outline {
	padding: 10px 15px;
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
}

.background {
	color: var(--primary-color);
	background: var(--bg-color);
}

.background-inverted {
	color: var(--inverted-primary-color);
	background: var(--inverted-bg-color);
}

.square {
	padding: 0;

	&.size-s {
		width: var(--font-line-s);
		height: var(--font-line-s);
	}

	&.size-m {
		width: var(--font-line-m);
		height: var(--font-line-m);
	}

	&.size-l {
		width: var(--font-line-l);
		height: var(--font-line-l);
	}
}

.size-s {
	font: var(--font-s);
}

.size-m {
	font: var(--font-m);
}

.size-l {
	font: var(--font-l);
}
